.ui-button
  cursor pointer
  display inline-flex
  align-items center
  white-space nowrap
  justify-content center
  box-sizing border-box
  -webkit-app-region no-drag

  /**
   * Small size button
   */
  buttonSmallSize()
    height 24px
    line-height 24px
    font-size 14px
    padding 0 12px
    border-radius 4px

  /**
   * Medium size button
   */
  buttonMediumSize()
    height 32px
    line-height 32px
    font-size 14px
    padding 0 12px
    border-radius 4px

  /**
   * Large size button
   */
  buttonLargeSize()
    height 30px
    line-height 30px
    font-size 13px
    padding 0 15px
    border-radius 4px

  /**
   * Button with solid background
   */
  buttonSolid($bg-color, $text-color)
    background-color $bg-color
    color $text-color

  /**
   * Button with borders
   */
  buttonBorder($bg-color, $text-color, $border-color)
    background-color $bg-color
    color $text-color
    border 1px solid $border-color
    box-sizing border-box

  /**
   * Button with icon and caption
   */
  buttonWithIconAndCaption()
    &^[0]--small
      padding-left 4px

    &^[0]--medium
      padding-left 8px

    &^[0]--large
      padding-left 16px

    ^[0]__icon
      margin-right 12px

  /**
   * Square button with icon only
   */
  buttonSquareIcon($bg-color)
    padding 0
    align-items center
    justify-content center
    flex-direction column
    background-color $bg-color

    &^[0]--small
      width 24px
      height 24px
      border-radius 4px

    &^[0]--medium
      width 36px
      height 36px
      border-radius 4px

    &^[0]--large
      width 64px
      height 64px
      border-radius 8px

  /**
   * Button with 100% width
   */
  buttonWideStyle()
    width 100%

    ^[0]__caption
      margin-right auto
      margin-left auto

    ^[0]__icon
      margin 0

  /**
   * Disabled state
   */
  buttonDisabledState()
    pointer-events none
    opacity 0.5

  /**
   * Loading state
   */
  buttonLoadingState()
    $color-light = rgba(255, 255, 255, 0.1);
    $color-dark = rgba(0, 0, 0, 0.03);

    pointer-events: none;
    background-size: 56px 56px;
    animation: loading 0.5s infinite linear;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, $color-dark 10px, $color-dark 20px);

    &^[0]--1
    &^[0]--7
      background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, $color-light 10px, $color-light 20px);

    @keyframes loading {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -56px 0;
      }
    }

  /**
   * Default hover state
   */
  buttonDefaultHoverState()
    &:hover
      opacity 0.8

  /**
   * Active state
   * used for all buttons
   */
  buttonActiveState()
    transform translateY(1px)

  /**
  * Button size classes
  */
  &--small
    buttonSmallSize()

  &--medium
    buttonMediumSize()

  &--large
    buttonLargeSize()

  /**
   * Button type classes
   */
  &--1
    buttonSolid(var(--color-2), var(--text-tech-3))
    buttonDefaultHoverState()

  &--2
    buttonBorder(var(--button-bg-4), var(--text-0), var(--stroke-3))
    buttonDefaultHoverState()

  &--3
    buttonBorder(var(--app-bg), var(--text-0), var(--stroke-3))
    buttonDefaultHoverState()

  &--4
    buttonBorder(var(--button-bg-0), var(--text-tech-0), var(--stroke-0))
    buttonDefaultHoverState()

  &--5
    buttonBorder(var(--button-bg-1), var(--text-tech-1), var(--stroke-1))
    buttonDefaultHoverState()

  &--6
    buttonBorder(var(--button-bg-2), var(--text-tech-2), var(--stroke-2))
    buttonDefaultHoverState()

  &--7
    buttonSquareIcon(var(--button-bg-5))

    &:hover
      background var(--button-bg-6)

  &--8
    color var(--text-1)
    buttonDefaultHoverState()

  &--9
    color var(--text-tech-2)
    stroke var(--text-tech-2)
    padding 0

    & ^[0]__icon-bg
      display flex
      width 24px
      height 24px
      background var(--button-bg-2)
      border-radius 100%
      align-items center
      justify-content center
      margin-right 8px

  &--10
    color var(--text-1)
    stroke var(--text-1)
    padding 0

    & ^[0]__icon
      margin-right 8px

    buttonDefaultHoverState()

  &--11
    color var(--text-0)
    stroke var(--text-0)
    justify-content flex-start
    padding 0 8px

    & ^[0]__icon
      margin-right 5px

    & ^[0]__caption
      margin-left 0
      margin-right auto

    &:hover
      background-color var(--item-bg-hover)


  &--12
    buttonSolid(var(--color-0), var(--text-tech-3))
    buttonDefaultHoverState()

  &--13
    border-radius 100px
    font-size 12px
    padding-left 22px
    padding-right 8px
    color var(--text-1)

    &:before
      content ''
      display block
      width 8px
      height 8px
      border 1px solid
      margin-left - 14px
      margin-right 6px
      border-radius 100%
      box-sizing border-box

    &^[0]--active
      background var(--button-bg-6)
      color var(--text-0)

      &:before
        background var(--color-2)
        border none

    &:hover:not(.ui-button--active)
      background var(--button-bg-5)

  &--14
    color var(--text-tech-0)
    stroke var(--text-tech-0)
    padding 0

  &--15
    buttonSmallSize()
    font-size 12px
    padding 0 8px
    color var(--text-1)
    border-radius 100px

    &^[0]--active
      background var(--button-bg-6)
      color var(--text-0)
      pointer-events none

    &:hover:not(.ui-button--active)
      buttonDefaultHoverState()

  &--icon&--caption&--wide
    buttonWithIconAndCaption()

  &--wide
    buttonWideStyle()

  &--loading
    buttonLoadingState()

  &--disabled
    buttonDisabledState()

  &:active
    buttonActiveState()
