@font-face {
  font-family 'Inter'
  font-style  normal
  font-weight 400
  font-display swap
  src url("styles/fonts/Inter-Regular.woff2?v=3.12") format("woff2")
}

@font-face
  font-family 'Inter'
  font-style  normal
  font-weight 500
  font-display swap
  src url("styles/fonts/Inter-Medium.woff2?v=3.12") format("woff2")
