@import '../../sdk/styles/global.styl'

/**
 * Right way to disable text selection,
 * html elements dragging and some browser like stuff
 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before
  user-select none

input, button, textarea, :focus
  outline none

a:not([draggable=true]), img:not([draggable=true])
  -webkit-user-drag none

a
  display block